body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #f2f2f2;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.logo {
    height: 60px;
}

.header-actions {
    margin-right: 15px;
}

.header-action {
    height: 40px;
}

.story-list {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    border-bottom: 1px solid #f2f2f2;
    height: 130px;
}

.story-list::-webkit-scrollbar {
    display: none;
}

.story {
    padding: 15px 0px 15px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    height: 130px;
}

.user-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid rgb(233, 64, 59);
    padding: 3px;
}

.self {
    border: 1px solid darkgrey;
}

.username {
    padding-top: 5px;
}

.post-list {
    margin-bottom: 50px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 15px 10px;
    border-bottom: 1px solid #f2f2f2;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-dp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(233, 64, 59);
    padding: 2px;
}

.self {
    border: 1px solid darkgrey;
}

.user-info > .username {
    margin-left: 10px;
}

.post-options {
    height: 40px;
}

.post-image {
    height: 100%;
    width: 100%;
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-action {
    height: 40px;
}

.post-info p {
    margin: 5px 0px 5px 9px;
}

.likes-count {
    font-weight: bolder;
}

.post-info .username {
    font-weight: bolder;
    margin-right: 5px;
}

.hashtags {
    color: rgb(86, 146, 167);
}

.comments-hidden {
    color: grey;
}

.post-date {
    font-size: small;
    color: grey;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #f2f2f2;
    height: 50px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    position: fixed;
}

.footer-action {
    height: 40px;
    width: 40px;
}

.custom-user-dp {
    height: 24px;
    width: 24px;
}

