body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.inbox-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #f2f2f2;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left > a > img {
    height: 35px;
    margin-right: 30px;
}

.header-right {
    margin-right: 30px;
}

.header-right > img {
    height: 35px;
    margin-left: 25px;
}

.header-right > .create-message {
    height: 33px;
    margin-bottom: 3px;
}

.search-bar {
    padding-top: 50px;
    height: 60px;
}

.input-field {
    margin: 15px;
    background-color: rgb(235, 230, 230);
    border-radius: 12px;
}

.search-logo {
    height: 25px;
    padding-top: 6px;
    padding-left: 15px;
}

.search {
    color: rgb(165, 162, 162);
    padding-left: 15px;
    
}

.nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.nav > span {
    font-weight: bold;
    color: rgb(122, 120, 120);
    padding: 15px 0;
    width: 33.33%;
    text-align: center;
}

.nav > .chats {
    color: black;
    border-bottom: 1px solid black; 
}

body::-webkit-scrollbar {
    display: none;
}

.chat-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.chat-box-info {
    display: flex;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.main-contentx {
    display: flex;
    flex-direction: column;
    padding-left: 29px;
}

.userdp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.story-unvisited {
    border: 2px solid rgb(233, 64, 59);
    padding: 3px;
}

.story-visited {
    border: 1px solid darkgrey;
    padding: 3px;
}

.status-unchecked > span {
    font-weight: bold;
    color: black;
}

.last-message {
    color: rgb(146, 145, 145);
    font-size: small;
}

.timestamp {
    font-weight: normal;
}

.camera-light {
    height: 30px;
    width: 30px;
}
