body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.logo {
    height: 70px;
    cursor: pointer;
    padding-top: 5px;
}

.header-actions {
    margin-right: 20px;
    padding-top: 5px;
}

.header-action {
    height: 40px;
    cursor: pointer;
}

.story-list {
    padding-top: 50px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    border-bottom: 1px solid #f2f2f2;
    height: 130px;
}

.story-list::-webkit-scrollbar {
    display: none;
}

.story {
    padding: 15px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

.user-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid rgb(233, 64, 59);
    padding: 3px;
    cursor: pointer;
}

.self {
    border-color: darkgrey;
}

.username {
    padding-top: 5px;
    cursor: pointer;
}

.extra {
    font-size: 6px;
}

.post .username:hover {
    text-decoration: underline;
}

.post-list {
    margin-bottom: 70px;
}

.post {
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 0px 9px 9px;
    border-bottom: 1px solid #f2f2f2;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-dp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(233, 64, 59);
    padding: 2px;
    cursor: pointer;
    
}

.self {
    border: 1px solid darkgrey;
}

.user-info > .username {
    margin-left: 10px;
    font-weight: 500;
    letter-spacing: -1px;
}

.post-options {
    height: 40px;
    cursor: pointer;
}

.post-image {
    height: 100%;
    width: 100%;
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-action {
    height: 40px;
    cursor: pointer;
}

.like {
    height: 42px;
}

.liked {
    height: 28px;
    margin: 7px 7px 5px 7px;
}

.share {
    padding-bottom: 4px;
}

.post-info p {
    margin: 5px 8px 5px 9px;
}

.likes-count {
    font-weight: bolder;
    cursor: pointer;
}

.likesCount {
    letter-spacing: 0px;
}

.post-info .username {
    font-weight: 500;
    margin-right: 5px;
    letter-spacing: -1px;
}

.hashtags {
    color: rgb(25, 38, 97);
}

.comments-hidden {
    color: grey;
    cursor: pointer;
}

.post-date {
    font-size: small;
    color: grey;
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #f2f2f2;
    height: 50px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    position: fixed;
}

.footer-action {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.custom-user-dp {
    height: 24px;
    width: 24px;
}

